:root {
  --dark-blue: #4365b3;
  --blue: #5eb5d7;
  --white-blue: #f3fffc;
  --light-blue: #bbfaf0;
  --light-dark-blue: #83eded;
  --black: #121212;
  --max-width: 1920px;
}

/* Tipography*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Stylish");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Stylish", sans-serif;
  margin: 0;
  line-height: 1.5;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  background: var(--white-blue);
}

/* Components Styles */
.btn {
  min-width: 64px;
  padding: 8px;
  border: none;
  background: #acacac;
  font-weight: 400;
}

.btn-primary {
  background: var(--dark-blue);
  color: var(--white-blue);
  cursor: pointer;
}

.btn-secondary {
  background: var(--light-dark-blue);
  border: 1px solid var(--dark-blue);
  cursor: pointer;
  margin: 0 auto;
}
